*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    margin: 50px;
    box-shadow: 0 50px 70px rgba(0,0,0,0.1);
    border-left: 50px solid #fff;
    border-right: 50px solid #fff;
}

.container .top{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}

.container .top .imgBx{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.container .top .imgBx .box{
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.container .top .imgBx .box img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .top .profileText{
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}

.container .top .profileText h3{
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: #333;
}

.container .contentBox{
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 40px 40px;
}

.container .contentBox h3{
    border-left: 4px solid #3590d2;
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
}

.container .contentBox ul{
    position: relative;
    margin: 10px 0;
}

.container .contentBox ul li{
    list-style: none;
    margin: 13px 0;
    line-height: 1em;
    color:#333;
    cursor: pointer;
    display: flex;
}

.container .contentBox ul.Utdanning li{
    flex-direction: column;
    margin: 20px 0;
}

h4{
    color: #333;
    margin:3px 0;
    font-weight: 500;
    margin: 3px 0;
}

.Språk li{
    flex-direction: column;
}

.Språk li span{
    color:#333;
    font-size: 16px;
    font-weight: 500;
}

.Språk .percent {
    position: relative;
    width: 100%;
    background: #e3e3e3;
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

.Språk .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}

.container .contentBox ul.interesser {
    position: relative;
    display: grid;
}

.container .contentBox ul.interesser li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
 
.rightSide {
    padding-left: 55px;
}

p {
    font-style: 300;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about.ferdigheter .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.about.ferdigheter .box h4 {
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
}

.about.ferdigheter .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #e3e3e3;
}

.about.ferdigheter .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}